<!--Navbar-->
<mdb-navbar
  SideClass="navbar navbar-expand-lg navbar-dark fixed-top primary-gradient" [containerInside]="false">

  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="navbar-brand" routerLink="/">
    <img src="assets/logo.png" alt="logo" height="30"> Librarium
  </a></mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>
    <!-- Links -->
    <ul class="navbar-nav ml-auto">
      <li class="nav-item" *ngIf="this.auth.loggedIN">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="/">
          <mdb-icon fas icon="book"></mdb-icon>
          Resources
        </a>
      </li>

      <li class="nav-item" *ngIf="this.auth.loggedIN">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="/bundles">
          <mdb-icon fas icon="cubes"></mdb-icon>
          Bundles
        </a>
      </li>

      <!-- Dropdown -->
      <li class="nav-item dropdown" dropdown *ngIf="this.auth.loggedIN">
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          <mdb-icon fas icon="user"></mdb-icon>
          Profile<span class="caret"></span></a>
        <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
          <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/profile">My account</a>
          <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/logout">Log out</a>
        </div>
      </li>

    </ul>
    <!-- Links -->
  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->
<section class="content paged">
  <router-outlet></router-outlet>
</section>
