<div class="container">
  <div class="row">
    <div class="col col-md-7 offset-3">
      <form class="form-inline md-form form-sm active-cyan active-cyan-2 w-100">
        <i class="fas fa-search" aria-hidden="true"></i>
        <input class="form-control form-control-sm text-center w-75" type="text" placeholder="Search"
               aria-label="Search"
               mdbInput>
      </form>
    </div>
  </div>
</div>
<div class="container">
  <div id="resources">
    <mat-grid-list #grid cols="4" rowHeight="22em" rowHeight="1:1.4" gutterSize="40px">
      <mat-grid-tile
        *ngFor="let resource of resources">
        <app-entry [resource]="resource"></app-entry>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
